.product-detail-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
  }
  
  .product-detail-left {
    flex: 1;
  }
  
  .product-detail-middle {
    flex: 2;
  }
  
  .product-detail-right {
    flex: 1;
  }
  
  .product-image {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
  
  /* Estilos adicionales para los comentarios */
  /* Puedes agregar estilos personalizados en CommentSection.css */
  